<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
  <md-toolbar md-theme="default" class="md-theme-indigo">
    <h1 class="md-toolbar-tools">MifosX</h1>
  </md-toolbar>
  <md-content id="sidebar-menu">
    <!-- <md-button ng-click="close()" class="md-primary" hide-gt-md>
      Close
    </md-button> -->
    <md-divider></md-divider>
    <md-button ng-click="vm.selectItem('Accounts')" ui-sref-active="md-warn" ui-sref=".clients" style="text-align: left;display: block;">
      <div class="md-tile-content">
        <i hide-sm hide-md class="material-icons md-18">account_balance_wallet</i> Accounts
      </div>
    </md-button>
    <md-divider></md-divider>
    <md-button ng-click="vm.selectItem('Accounts')" ui-sref-active="md-warn" ui-sref=".accounts" style="text-align: left;display: block;">
      <div class="md-tile-content">
        <i hide-sm hide-md class="material-icons md-18">help</i> Help
      </div>
    </md-button>
  </md-content>
</md-sidenav>

<div layout="column" flex>
  <md-toolbar md-theme="default" layout="row" layout-align="end center">

    <md-menu-bar>
    <md-menu md-position-mode="target-right target">
       {{vm.userDetails.username}}
      <md-button aria-label="Open logout menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin md-svg-src="assets/images/ic_person_white_24px.svg"></md-icon>
      </md-button>
      <md-menu-content width="3" >
        <md-menu-item>
          <md-button ng-click="logout();">
              <div layout="row">
                <p flex>Profile</p>
              </div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="logout();">
              <div layout="row">
                <p flex>Logout</p>
              </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    </md-menu-bar>

    <!-- <md-button hide-sm class="toolbar-button" aria-label="Notifications">
      <i class="material-icons">notifications</i>
      <span class="notifications-label">7</span>
    </md-button> -->
    <md-button hide-gt-sm ng-click="vm.toggleItemsList()" aria-label="Menu">
      <i class="material-icons">menu</i>
    </md-button>
  </md-toolbar>

  <md-content flex class="md-padding page-content">
    <div ui-view></div>
  </md-content>
</div>