<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <div layout="col" layout-align="start end" layout-padding class="sidenav-header">
        <div layout="col" flex>
            <div class="sidenav-content">
                <md-icon md-menu-origin md-svg-src="assets/images/ic_person_white_24px.svg"></md-icon>
                <h1 class="sidenav-title md-title">Welcome, {{vm.userDetails.username}}</h1>
            </div>
        </div>
    </div>
    <md-content id="sidebar-menu">
        <!-- <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close
        </md-button> -->
        <md-divider></md-divider>
        <md-button ng-click="vm.selectItem('Accounts')" ui-sref-active="md-warn" ui-sref=".accounts"
                   style="text-align: left;display: block;">
            <div class="md-tile-content">
                <i hide-sm hide-md class="material-icons md-18">account_balance_wallet</i> Accounts
            </div>
        </md-button>
        <md-divider></md-divider>
        <md-button ng-click="vm.selectItem('Recent Transactions')" ui-sref-active="md-warn"
                   ui-sref=".recenttransactions" style="text-align: left;display: block;">
            <div class="md-tile-content">
                <i hide-sm hide-md class="material-icons md-18">trending_up</i> Recent Transactions
            </div>
        </md-button>
        <md-divider></md-divider>
        <md-button ng-click="vm.selectItem('Charges')" ui-sref-active="md-warn" ui-sref=".charges"
                   style="text-align: left;display: block;">
            <div class="md-tile-content">
                <i hide-sm hide-md class="material-icons md-18">attach_money</i> Charges
            </div>
        </md-button>
        <md-divider></md-divider>
        <md-button ng-click="vm.selectItem('Transfers')" ui-sref-active="md-warn" ui-sref=".transfers"
                   style="text-align: left;display: block;">
            <div class="md-tile-content">
                <i hide-sm hide-md class="material-icons md-18">attach_money</i> Transfers
            </div>
        </md-button>
        <md-divider></md-divider>
        <md-button ng-click="vm.selectItem('About Us')" ui-sref-active="md-warn" ui-sref=".aboutus"
                   style="text-align: left;display: block;">
            <div class="md-tile-content">
                <i hide-sm hide-md class="material-icons md-18">info</i> About Us
            </div>
        </md-button>
        <md-divider></md-divider>
        <md-button ng-click="vm.selectItem('Help')" ui-sref-active="md-warn" ui-sref=".help"
                   style="text-align: left;display: block;">
            <div class="md-tile-content">
                <i hide-sm hide-md class="material-icons md-18">help</i> Help
            </div>
        </md-button>
    </md-content>
</md-sidenav>

<div layout="column" flex>
    <md-toolbar md-theme="default" layout="row" layout-align="end center">
        <md-button hide-gt-sm ng-click="vm.toggleItemsList()" aria-label="Menu">
            <i class="material-icons">menu</i>
        </md-button>
        <md-menu md-position-mode="target-right target">
            {{vm.userDetails.username}}
            <md-button aria-label="Open logout menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin md-svg-src="assets/images/ic_person_white_24px.svg"></md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="vm.selectItem('Profile');" ui-sref=".profile">
                        <div layout="row">
                            <p flex>Profile</p>
                        </div>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="logout();">
                        <div layout="row">
                            <p flex>Logout</p>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <!-- <md-button hide-sm class="toolbar-button" aria-label="Notifications">
          <i class="material-icons">notifications</i>
          <span class="notifications-label">7</span>
        </md-button> -->

    </md-toolbar>

    <md-content flex class="page-content">
        <div ui-view></div>
    </md-content>
</div>
