<div layout="row">
  <div flex>
    <md-card md-theme="default" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{vm.client.displayName}}</span>
          <span class="md-subhead">Client #:{{vm.client.accountNo}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <img ng-src="{{vm.client.imageURL}}" class="md-card-avatar" alt="Client Image">
        </md-card-title-media>
      </md-card-title>
    </md-card>
  </div>
</div>
<div layout="row">
  <div flex>
    <h2>Accounts</h2>
    <md-table-container>
      <h3>Loan Account Overview</h3>
      <div ng-if="vm.loadingAccountInfo">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>Loading...
        <!--@todo Internationalize-->
      </div>
      <table md-table ng-model="vm.selected" md-progress="vm.promise">
        <thead md-head md-order="vm.query.orderBy" md-on-reorder="vm.onReorder">
        <tr md-row>
          <th md-column md-numeric><span>Account #</span></th>
          <th md-column>Loan Account</th>
          <th md-column md-numeric>Original Loan</th>
          <th md-column md-numeric>Loan Balance</th>
          <th md-column md-numeric>Amount Paid</th>
          <th md-column>Status</th>
          <th md-column>Type</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="account" md-select-id="{{account.name}}" md-auto-select ng-repeat="account in vm.loanAccounts" ng-click="vm.routeTo(account.id)">
          <td md-cell>{{account.accountNo}}</td>
          <td md-cell>{{account.productName}}</td>
          <td md-cell>{{account.originalLoan}}</td>
          <td md-cell>{{account.loanBalance}}</td>
          <td md-cell>{{account.amountPaid}}</td>
          <td md-cell>{{account.status.value}}</td>
          <td md-cell>{{account.loanType.value}}</td>
        </tr>
        </tbody>
      </table>
      <h3>Savings Account Overview</h3>
      <table md-table ng-model="vm.selected" md-progress="vm.promise">
        <thead md-head md-order="vm.query.orderBy" md-on-reorder="vm.onReorder">
        <tr md-row>
          <th md-column md-numeric><span>Account #</span></th>
          <th md-column><span>Savings Account</span></th>
          <th md-column>Last Active</th>
          <th md-column md-numeric>Balance</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="account" md-select-id="{{account.name}}" md-auto-select ng-repeat="account in vm.savingsAccounts" ng-click="vm.routeTo(account.id)">
          <td md-cell>{{account.accountNo}}</td>
          <td md-cell >{{account.productName}}</td>
          <td md-cell><!--{{account.lastActiveTransactionDate | DateFormat }} -->dateHere</td>
          <td md-cell md-numeric>{{account.accountBalance}}</td>
        </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.offset" md-total="{{vm.accounts.totalFilteredRecords}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
  </div>
</div>