<md-content class="md-padding" layout="row" layout-wrap layout-align="center start" style="width: 100%;background-color: #F1F1F1;">
  <md-card style="padding: 5px 20px;width: 330px;">
    <md-card-title>
      <md-card-title-text style="text-align: center;color: dodgerblue;">
        <span class="md-headline">Mifos Self Service</span>
        <img src="assets/images/MifosX_logo.png">
      </md-card-title-text>
    </md-card-title>
    
    <form name="loginForm">
      <md-input-container class="md-block md-icon-float">
        <label>Username</label>
        <md-icon md-svg-src="assets/images/ic_person_black_24px.svg" class="name"></md-icon>
        <input ng-model="loginData.username">
      </md-input-container>
      <md-input-container class="md-block md-icon-float">
        <label>Password</label>
        <md-icon md-svg-src="assets/images/ic_remove_red_eye_black_24px.svg" class="password"></md-icon>
        <input type="password" ng-model="loginData.password">
      </md-input-container>

      <section layout="column" layout-align="start">
        <md-button class="md-primary md-raised" ng-click="doLogin()">Login</md-button>
      </section>
    </form>
  </md-card>
</md-content>