<div class="datatable-cont md-padding">
    <md-card  hide-xs hide-sm>
        <md-card-title layout-xs="column">
            <md-card-title-text>
                <span class="md-headline">{{ 'label.heading.recentTransactions' | translate }}</span>
            </md-card-title-text>
            <md-input-container md-no-float class="md-block search-input">
                <md-icon md-svg-src="assets/images/ic_search_black_24px.svg"></md-icon>
                <input ng-model="vm.transactFilter" type="text" placeholder="{{ 'label.input.search' | translate }}">
            </md-input-container>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-content class="md-padding">
            <div flex layout="row" layout-align="center center" ng-if="vm.loadingTransactions">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                {{ 'label.msg.loadingRecentTransactions' | translate }}...
            </div>
            <md-table-container>
                <div>
                    <table clas="responsive-table" md-table>
                        <thead md-head md-order="vm.query.orderBy">
                        <tr md-row>
                            <th md-column md-order-by="id">{{ 'label.heading.id' | translate }}</th>
                            <th md-column md-order-by="type"><span>{{ 'label.heading.type' | translate }}</span></th>
                            <th md-column md-order-by="officeName">{{ 'label.heading.officeName' | translate }}</th>
                            <th md-column md-numeric md-order-by="amount">{{ 'label.heading.amount' | translate }}</th>
                            <th md-column md-order-by="date.join('')">{{ 'label.heading.date' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row
                            ng-repeat="transaction in vm.recenttransactions.pageItems | filter: vm.transactFilter | orderBy: vm.query.orderBy">
                            <td md-cell>{{ transaction.id }}</td>
                            <td md-cell>{{ transaction.type.value }}</td>
                            <td md-cell>{{ transaction.officeName}}</td>
                            <td md-cell>{{ transaction.currency.displaySymbol + ' ' + transaction.amount}}</td>
                            <td md-cell>{{ transaction.date | DateFormat }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </md-table-container>
            <md-table-pagination md-limit="vm.query.limit" md-page="vm.page"
                                 md-on-paginate="vm.onPaginate"
                                 md-total="{{vm.recenttransactions.totalFilteredRecords}}" md-page-select></md-table-pagination>
        </md-card-content>
    </md-card>
</div>
<div>
    <md-content hide-gt-sm>
        <h2 class="mobile-table-title">{{ 'label.heading.recentTransactions' | translate }}</h2>
        <md-input-container md-no-float class="md-block search-input">
            <md-icon md-svg-src="assets/images/ic_search_black_24px.svg"></md-icon>
            <input ng-model="vm.transactFilter" type="text" placeholder="{{ 'label.input.search' | translate }}">
        </md-input-container>
        <div hide-gt-sm>
            <md-content flex-xs>
                <md-list >
                    <md-list-item class="md-3-line" ng-repeat="transaction in vm.recenttransactions.pageItems | filter: vm.transactFilter | orderBy: vm.query.orderBy">
                        <div layout="column">
                            <div class="md-list-item-text">
                                </br>
                                <h3><strong>{{transaction.id}}</strong></h3>
                                <div layout="row">
                                    <h4>Type: &nbsp;</h4>
                                    <p><strong>{{ transaction.type.value }}</strong></p>
                                </div>
                                <div layout="row">
                                    <h4>Office Name: &nbsp;</h4>
                                    <p>{{ transaction.officeName}}</p>
                                </div>
                                <div layout="row">
                                    <h4>Amount: &nbsp;</h4>
                                    <p>{{ transaction.currency.displaySymbol + ' ' + transaction.amount}}</p>
                                </div>
                                <div layout="row">
                                    <h4>Date: &nbsp;</h4>
                                    <p>{{ transaction.date | DateFormat }}</p>
                                </div>
                                </br>
                                <md-divider></md-divider>

                            </div>

                        </div>

                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <md-table-pagination md-limit="vm.query.limit" md-page="vm.page"
                             md-on-paginate="vm.onPaginate"
                             md-total="{{vm.recenttransactions.totalFilteredRecords}}" md-page-select></md-table-pagination>
    </md-content>

</div>
