<md-dialog flex="60" aria-label="Review Transfer">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Review Transfer</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="assets/images/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <p>
                    Transfer To: <br>
                    Account Number: {{ vm.transferFormData.toAccount.accountNo }}
                </p>
                <p>
                    Transfer From: <br>
                    Account Number: {{ vm.transferFormData.fromAccount.accountNo }}
                </p>
                <p>
                    Amount: {{ vm.transferFormData.amount }}
                </p>
                <p>
                    Transfer Date: {{ vm.transferFormData.transferDate }}
                </p>
                <p>
                    Remark: {{ vm.transferFormData.remark }}
                </p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button ng-click="vm.transfer()">
                Transfer Now
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>