<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>Clients</h2>
  </div>
</md-toolbar>

<!-- <md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Clients</span>
  </div>
</md-toolbar> -->

<!-- exact table from live demo -->
<md-table-container>
  <table md-table ng-model="vm.selected" md-progress="vm.promise">
    <thead md-head md-order="vm.query.orderBy" md-on-reorder="vm.onReorder">
      <tr md-row>
        <th md-column md-order-by="displayName"><span>Name</span></th>
        <th md-column md-numeric md-order-by="accountNo"><span>Client #</span></th>
        <th md-column md-numeric>Status</th>
        <th md-column md-numeric md-order-by="officeName">Office</th>
        <th md-column md-numeric>Staff</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="client" md-select-id="{{client.name}}" md-auto-select ng-repeat="client in vm.clients.pageItems" ng-click="vm.routeTo(client.id)">
        <td md-cell >{{client.displayName}}</td>
        <td md-cell>{{client.accountNo}}</td>
        <td md-cell>{{client.status.value}}</td>
        <td md-cell>{{client.officeName}}</td>
        <td md-cell>{{client.staffName}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<md-table-pagination md-limit="vm.query.limit" md-page="vm.query.offset" md-total="{{vm.clients.totalFilteredRecords}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>