<md-tabs id="account-list-tabs" class="datatable-cont md-primary" md-dynamic-height md-border-bottom>
    <md-tab label="{{ 'label.heading.loans' | translate }}">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ 'label.heading.loanProduct' | translate }}</span>
                </md-card-title-text>
                <md-input-container md-no-float class="md-block search-input">
                    <md-icon md-svg-src="assets/images/ic_search_black_24px.svg"></md-icon>
                    <input type="text" placeholder="{{ 'label.input.search' | translate }}">
                </md-input-container>
            </md-card-title>
            <md-divider></md-divider>
            <md-card-content class="md-padding md-list-item-text">
                <md-table-container>
                    <md-list-item>
                    <table md-table >
                        <tbody md-body>
                        <tr ng-repeat="product in vm.productData">
                            <td><h3>{{$index + 1}}.</h3></td>
                            <td class="product-name">{{product.productName}}<p class="product-description">{{product.description}}</p>
                                <md-chips>
                                    <md-chip>{{product.category}}</md-chip>
                                </md-chips>
                                <br>
                            </td>
                            <td class="product-additional"> Principal: {{product.principle}}<br>Interest: {{product.interest}}</td>
                            <td class="product-additional">Currency: {{product.currency}}<br>Term: {{product.Term}}</td>
                            <td class="product-info"><i hide-sm hide-md class="material-icons md-outlined md-36">info_outlined</i> </td>
                        </tr>
                        </tbody>
                    </table>
                    </md-list-item>
                </md-table-container>
                <!--Pagination-->
            </md-card-content>
        </md-card>
    </md-tab>

    <md-tab label="{{ 'label.heading.savings' | translate }}">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ 'label.heading.savingsProduct' | translate }}</span>
                </md-card-title-text>
                <md-input-container md-no-float class="md-block search-input">
                    <md-icon md-svg-src="assets/images/ic_search_black_24px.svg"></md-icon>
                    <input type="text" placeholder="{{ 'label.input.search' | translate }}">
                </md-input-container>
            </md-card-title>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-card-content class="md-padding md-list-item-text">
                <md-table-container>
                    <md-list-item>
                        <table md-table>
                            <tbody md-body>
                            <tr ng-repeat="product in vm.productData">
                                <td><h3>{{$index + 1}}.</h3></td>
                                <td class="product-name">{{product.productName}}<p class="product-description">{{product.description}}</p>
                                    <md-chips>
                                        <md-chip>{{product.category}}</md-chip>
                                    </md-chips>
                                    <br>
                                </td>
                                <td class="product-additional"> Principal: {{product.principle}}<br>Interest: {{product.interest}}</td>
                                <td class="product-additional">Currency: {{product.currency}}<br>Term: {{product.Term}}</td>
                                <td class="product-info"><i hide-sm hide-md class="material-icons md-outlined md-36">info_outlined</i> </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-list-item>
                </md-table-container>
                <!--Pagination-->
            </md-card-content>
        </md-card>
    </md-tab>

    <md-tab label="{{ 'label.heading.shares' | translate }}">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ 'label.heading.shareProduct' | translate }}</span>
                </md-card-title-text>
                <md-input-container md-no-float class="md-block search-input">
                    <md-icon md-svg-src="assets/images/ic_search_black_24px.svg"></md-icon>
                    <input type="text" placeholder="{{ 'label.input.search' | translate }}">
                </md-input-container>
            </md-card-title>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-card-content class="md-padding md-list-item-text">
                <md-table-container>
                    <md-list-item>
                        <table md-table >
                            <tbody md-body>
                            <tr ng-repeat="product in vm.productData">
                                <td><h3>{{$index + 1}}.</h3></td>
                                <td class="product-name">{{product.productName}}<p class="product-description">{{product.description}}</p>
                                    <md-chips>
                                        <md-chip>{{product.category}}</md-chip>
                                    </md-chips>
                                    <br>
                                </td>
                                <td class="product-additional"> Principal: {{product.principle}}<br>Interest: {{product.interest}}</td>
                                <td class="product-additional">Currency: {{product.currency}}<br>Term: {{product.Term}}</td>
                                <td class="product-info"><i hide-sm hide-md class="material-icons md-outlined md-36">info_outlined</i> </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-list-item>
                </md-table-container>
                <!--Pagination-->
            </md-card-content>
        </md-card>
    </md-tab>
</md-tabs>
