.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.no-margin {
  margin: 0;
}

.savings-total-card {
  background: #4CAF50;
  color: white;
}

.loan-total-card{
  background: #f44336;
  color: white;
}

.card-total {
  word-wrap: break-word;
}
