// Status colors
.statusoverpaid {
  color: #800080
}

.statusactiveoverdue {
  color: #FF0000
}

.statustransferprogress {
  color: #FF4000;
}

.statustransferonhold {
  color: #DF0101;
}

.statusactive {
  color: #00CE00;
}

.statusmatured {
  color: #FF4000;
}

.statusdeleted {
  color: #000000;
}

.statuspending {
  color: #FFA500;
}
.statusApproved {
  color: #0F36E4;
}

.statusbad {
  color: #FF0000;
}

.statusgood {
  color: #008000;
}

.statushold {
  color: #FFFF00;
}

.statusprogresspendingtab {
  color: #F7FE2E;
}

.statusprogresstab {
  color: #FFA500;
}

.statusprogresscompletedtab {
  color: #298A08;
}
