#error-404 {
  background: #f1f1f1;
}
#error-404 .content {
  width: 90%;
  max-width: 512px;
}
#error-404 .content .error-code {
  font-size: 112px;
  text-align: center;
  line-height: 1;
  margin-bottom: 16px;
  font-weight: 500;
}
#error-404 .content .error-code-msg {
  font-size: 74px;
  text-align: center;
  line-height: 1;
  margin-bottom: 8px;
  font-weight: 500;
}
#error-404 .content .message {
  font-size: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}
#error-404 .content .search {
  width: 100%;
  height: 56px;
  line-height: 56px;
  margin: 48px auto 16px auto;
  padding: 16px;
  background: #FFFFFF;
}
#error-404 .content .search input {
  padding: 0 0 0 16px;
}
#error-404 .content .back-link {
  font-size: 15px;
  text-align: center;
}

body {
  color: #7A7A7A;
}

.toolbar-button {
  min-width: 20px;
}

.share-label {
  vert-align: middle;
  margin-left: 10px;
}

.page-content {
  background-color: #ECECEC;
}

.widget-progress {
  width: 95% !important;
  margin-left: 10px;
}

.capitalize {
  text-transform: capitalize;
}

.img-circle {
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}

#loader {
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.messages {
  position: relative;
}
.messages-content {
  height: 100vh;
}

.notifications-label {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  font-size: 12px;
  top: 2px;
  right: 2px;
  background-color: #E75753;
}

.panel-widget {
  background-color: white;
}
.panel-widget-toolbar {
  box-shadow: none;
}
.panel-widget-tittle {
  color: #7A7A7A;
}

.options {
  transition: all linear 0.5s;
}

.options.ng-hide {
  opacity: 0;
}

.fixed-height-widget {
  height: 310px;
}

.donut-chart-title {
  text-align: center;
}

.custom-tooltip {
  font-size: 20px;
  color: #7A7A7A;
  text-align: center;
}

md-radio-group {
  border: none;
}

md-icon {
  height: auto;
}

a.md-button.md-warn.md-raised, a.md-button.md-warn.md-fab, .md-button.md-warn.md-raised, .md-button.md-warn.md-fab {
  color: white;
}

md-radio-button.md-accent.md-checked .md-label span {
  color: #009688;
}

.md-toolbar-tools h1 {
  font-size: 20px;
}

md-backdrop.md-sidenav-backdrop {
  position: fixed;
}

.material-icons {
  vertical-align: middle;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.nvd3.nv-pie .nv-pie-title {
  fill: #444444;
  font-weight: 600;
  font-size: 20px !important;
}

.nvtooltip {
  background-color: transparent;
  border: none;
  font-weight: 600;
}

.orange .md-bar2 {
  background-color: orange;
}

.orange .md-container {
  background-color: #ffecc9;
}

/* Custom by Anurag */
.vertical {
  padding-right: 5px;
  border-right-style: groove;
}

md-toolbar .md-menu {
  margin: 0 !important;
}

.sidenav-header {
  background: url("../assets/images/toolbar.png");
  background-size: cover;
  height: 20vh;
  color: #ffffff;
}
.sidenav-header .sidenav-title {
  margin-top: 10px;
  margin-bottom: 0px;
}

.cover {
  background: url("../assets/images/cover.png");
  background-size: cover;
  color: white;
}

.cover-content {
  margin: 100px;
}

.cover-title {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.logo {
  text-align: center;
  margin-top: 5vh;
}

@media (min-width: 960px) {
  .login-container {
    box-shadow: 1px 1px 80px black;
  }
}
.login-form {
  margin: 0 auto;
}

#account-list-tabs md-pagination-wrapper {
  width: 100% !important;
  display: -ms-flexbox;
  display: flex;
}
#account-list-tabs md-tab-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-pack: center;
      justify-content: center;
}
#account-list-tabs md-tab-item span {
  width: 100%;
  text-align: center;
}
#account-list-tabs md-tab-content {
  padding: 20px;
}

.datatable-cont .search-input {
  margin: 0px;
}

.statusoverpaid {
  color: #800080;
}

.statusactiveoverdue {
  color: #FF0000;
}

.statustransferprogress {
  color: #FF4000;
}

.statustransferonhold {
  color: #DF0101;
}

.statusactive {
  color: #00CE00;
}

.statusmatured {
  color: #FF4000;
}

.statusdeleted {
  color: #000000;
}

.statuspending {
  color: #FFA500;
}

.statusApproved {
  color: #0F36E4;
}

.statusbad {
  color: #FF0000;
}

.statusgood {
  color: #008000;
}

.statushold {
  color: #FFFF00;
}

.statusprogresspendingtab {
  color: #F7FE2E;
}

.statusprogresstab {
  color: #FFA500;
}

.statusprogresscompletedtab {
  color: #298A08;
}

.bg_statusoverpaid {
  background: #800080;
  color: white;
}

.bg_statusactiveoverdue {
  background: #FF0000;
  color: white;
}

.bg_statustransferprogress {
  background: #FF4000;
  color: white;
}

.bg_statustransferonhold {
  background: #DF0101;
  color: white;
}

.bg_statusactive {
  background: #00CE00;
  color: white;
}

.bg_statusmatured {
  background: #FF4000;
}

.bg_statusdeleted {
  background: #000000;
  color: white;
}

.bg_statuspending {
  background: #FFA500;
  color: white;
}

.bg_statusApproved {
  background: #0F36E4;
  color: white;
}

.bg_statusbad {
  background: #FF0000;
  color: white;
}

.bg_statusgood {
  background: #008000;
  color: white;
}

.bg_statushold {
  background: #FFFF00;
  color: white;
}

.bg_statusprogresspendingtab {
  background: #F7FE2E;
  color: white;
}

.bg_statusprogresstab {
  background: #FFA500;
  color: white;
}

.bg_statusprogresscompletedtab {
  background: #298A08;
  color: white;
}

#transfer md-select {
  margin-bottom: 18px;
}

.required {
  color: red;
}

#beneficiaries-list table.md-table th.md-column {
  text-align: center;
}

.summary-card {
  width: 100%;
}
.summary-card .oustanding-overview {
  height: 100px;
}
.summary-card md-card-title {
  padding-top: 0px;
}
.summary-card .summary-table {
  width: 100%;
}
.summary-card .summary-table .value {
  text-align: right;
}

.loan-account-detail-cont {
  -ms-flex-align: start;
      align-items: flex-start;
}
.loan-account-detail-cont md-tabs {
  width: 100%;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 120px;
  border: 2px solid white;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.no-margin {
  margin: 0;
}

.savings-total-card {
  background: #4CAF50;
  color: white;
}

.loan-total-card {
  background: #f44336;
  color: white;
}

.auth-status {
  margin-left: 15px;
}

.card-total {
  word-wrap: break-word;
}

#forgot-password {
  height: 100%;
  width: 100%;
  background: url("../assets/images/cover.png") no-repeat;
  background-size: cover;
}
#forgot-password #forgot-password-form-wrapper {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  padding: 32px;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form {
  width: 384px;
  max-width: 384px;
  padding: 32px;
  text-align: center;
  background: #FFFFFF;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form .logo {
  width: 128px;
  height: 128px;
  line-height: 128px;
  font-size: 86px;
  font-weight: 500;
  margin: 32px auto;
  color: #FFFFFF;
  border-radius: 2px;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form .title {
  font-size: 17px;
  margin: 16px 0 32px 0;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form form {
  width: 100%;
  text-align: left;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form form .submit-button {
  width: 220px;
  margin: 16px auto;
  display: block;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form .login {
  margin: 32px auto 24px auto;
  width: 250px;
  font-weight: 500;
}
#forgot-password #forgot-password-form-wrapper #forgot-password-form .login .text {
  margin-right: 8px;
}

@media screen and (max-width: 460px) {
  #forgot-password #forgot-password-form-wrapper {
    padding: 16px;
  }
  #forgot-password #forgot-password-form-wrapper #forgot-password-form {
    padding: 24px;
    width: 100%;
  }
  #forgot-password #forgot-password-form-wrapper #forgot-password-form form .md-button {
    width: 90%;
  }
}
#register {
  height: 100%;
  width: 100%;
  background: url("../assets/images/cover.png") no-repeat;
  background-size: cover;
}
#register #register-form-wrapper {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  height: 90vh;
  padding: 32px;
}
#register #register-form-wrapper #register-form {
  width: 80%;
  overflow: scroll;
  max-width: 80%;
  padding: 32px;
  background: #FFFFFF;
  text-align: center;
}
#register #register-form-wrapper #register-form .logo {
  width: 128px;
  height: 128px;
  margin: 32px auto;
}
#register #register-form-wrapper #register-form .title {
  margin: 16px 0 32px 0;
  font-size: 17px;
}
#register #register-form-wrapper #register-form form {
  width: 100%;
  text-align: left;
}
#register #register-form-wrapper #register-form form md-checkbox {
  margin: 0;
}
#register #register-form-wrapper #register-form form .terms {
  font-size: 13px;
  margin: 16px 0 32px 0;
}
#register #register-form-wrapper #register-form form .terms a {
  margin-left: 4px;
}
#register #register-form-wrapper #register-form form .submit-button {
  width: 220px;
  margin: 16px auto;
  display: block;
}
#register #register-form-wrapper #register-form .login {
  margin: 32px auto 24px auto;
  width: 250px;
  font-weight: 500;
}
#register #register-form-wrapper #register-form .login .text {
  margin-right: 8px;
}

@media screen and (max-width: 460px) {
  #register #register-form-wrapper {
    padding: 16px;
  }
  #register #register-form-wrapper #register-form {
    padding: 24px;
    width: 100%;
  }
  #register #register-form-wrapper #register-form form .md-button {
    width: 90%;
  }
}
.table {
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
}
.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  transition: all 0.3s ease;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  text-align: left;
  padding: 1.2rem;
  vertical-align: top;
  border-top: 0;
  transition: all 0.3s ease;
}
.table > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table > caption + thead > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.table .table {
  background-color: #fff;
}
.table .no-border {
  border: 0;
}

.table-bordered {
  border: 0;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
  .table-responsive-vertical > .table {
    margin-bottom: 0;
    background-color: transparent;
  }
  .table-responsive-vertical > .table > thead,
  .table-responsive-vertical > .table > tfoot {
    display: none;
  }
  .table-responsive-vertical > .table > tbody {
    display: block;
  }
  .table-responsive-vertical > .table > tbody > tr {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 1.2rem;
  }
  .table-responsive-vertical > .table > tbody > tr > td {
    background-color: #fff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }
  .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
    padding-right: 10px;
  }
  .table-responsive-vertical.shadow-z-1 {
    box-shadow: none;
  }
  .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
    border: none;
  }
  .table-responsive-vertical > .table-bordered {
    border: 0;
  }
  .table-responsive-vertical > .table-bordered > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }
  .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
    border-bottom: 0;
  }
  .table-responsive-vertical > .table-striped > tbody > tr > td,
  .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
    background-color: #f5f5f5;
  }
  .table-responsive-vertical > .table-hover > tbody > tr:hover > td,
  .table-responsive-vertical > .table-hover > tbody > tr:hover {
    background-color: #fff;
  }
  .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
